.cabeçalho{
    background-color: #7af7ec;
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: padding 24px 0;
}
.cabeçalho-imagem{
    width: 2%
}
.cabeçalho-lista-item{
    display: inline-block;
    font-size: 24px;
    margin: 0 16px;
 }
    
